body {
    background: #303030;
     font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    margin: 0;
    padding: 0;
    }
    header {
        background: #303030;
        padding: 20px;
        text-align: center;
        height: 400px;
        background-image: url("Washington\ post.png");
        background-size: 100%;
        background-position: center;
    }
    header .logo a {
        background-size: 300px;
        display: inline-block;
        width: 300px;
        display: inline-block;
        text-indent: -999999;
        height: 150px;
        background-repeat: no-repeat;
        top: 60px;
        position: relative;
    }
    section {
        background-color:  #303030;
        color: rgb(19, 18, 18);
        padding: 20px;
        display: flex;
        flex-direction: row;
    }
    div {
background: #303030;
        width: 100px;
        margin: auto;
    }
footer {
    background:#303030;
    padding: 10px 20px;
    height: 700px;
}
ul {
    list-style-type: none;
}
li {
display: inline-block;
margin-right: 20px;
bottom: 1000;
} 
a { 
text-decoration: none;
} 
a:hover { 
text-decoration: underline;
} 

a {
color: seashell;
}  
.ci { 
height: 300px;;
position: absolute;
right: 0%;
box-shadow: rgb(15, 15, 15) 0 0 20px;
border-radius: 50%;
} 

h1 { 
position: absolute;
left: 20%;
size: 150%;
}
.ci :hover{
transform: rotate(10deg);
}

.next { 
height: 800px;
color: #303030;
}
.Aunt {
height: 400px;
left: 20%;
}
.Aunt2 {
    height: 400px;
    left: 20%;
}